.color {
    background-color : #5B5056;
    color : white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.colorend {
    background-color: black;
    color : white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}