<hr>
<footer>
        <div class="container-fluid text-center color">
          <div class="row">
            <div class="col-md-6">
                <h4 class="text-uppercase">Eventsity</h4>
                <p class="text-uppercase">Contributors</p>
            </div>
            <div class="col-md-3">
                <p>Palak Tiwari</p>
            </div>
            <div class="col-md-3">
                <p>Tapish Gupta</p>
            </div>
            <div class="col-md-3">
                <p>Utkarsh Mittal</p>
            </div>
            </div>
        </div>
        <div class="footer-copyright text-center colorend">
            © 2019 Copyright:EventSity
        </div>
</footer>