<div class="row">
    <div class="col-xs-12">
        <h1>Events By Category</h1>
    </div>
</div>
<hr style="opacity: 0;">
<div class="row">
    <div class="col-xs-12">
        <div class="col-md-3">
            <a routerLink="entertainment"><button class="entcat">Entertainment</button></a>
        </div>
        <div class="col-md-3">
            <a routerLink="social"><button class="soccat">Social</button></a>
        </div>
        <div class="col-md-3">
            <a routerLink="technology"><button class="techcat">Technology</button></a>
        </div>
        <div class="col-md-3">
            <a routerLink="sports"><button class="sportscat">Sports</button></a>
        </div> 
    </div>
</div>
<hr>
<div class="row">
    <div class="col-xs-12">
        <app-discover-events
        *ngFor="let discover of discover; let i = index"
        [discover]="discover" 
        [index]="i"></app-discover-events>
    </div>
</div>