<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <div class="head">
            <h4>LET'S CREATE YOUR ACCOUNT</h4>
            <p>It won't take more than a few minutes, we promise :)</p>
        </div>
        <form (ngSubmit)="onSignup(f)" #f="ngForm">
                <div class="form-group">
                    <label for="name">Name</label>
                    <input type="name" id="name" name="name" ngModel class="form-control" required>
                </div>
                <div class="form-group">
                    <label for="email">E-Mail</label>
                    <input type="email" id="email" name="email" ngModel class="form-control" required>
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input
                    type="password" 
                    id="password" 
                    name="password" 
                    ngModel 
                    class="form-control" 
                    minlenght=6
                    required>
            </div>
            <button type="submit" class="mybutton">SignUp</button>
        </form>
        <p class="foot">Already on EventSity ? <a routerLink='/login'>LogIn</a></p>
    </div>
    <div class="col-md-2"></div>
</div>
<div class="row">
    <div class="col-xs-12 head">
        <h4>- OUR HAPPY USERS -</h4>
        <img src="assets/images/signup.jpg" alt="signup">
    </div>
</div>