input.ng-invalid.ng-touched {
    border : 2px solid red;
}
.head {
    text-align : center;
    color : #9E36DA;
}
.mybutton {
    margin-left : 22em;
    padding : 6px 20px;
    border : 2px solid black;
    background-color : transparent;
    color : black;
    border-radius : 10px;
}
.mybutton:hover {
    background-color : green;
    color : white;
    border : 2px solid green; 
}
.foot {
    text-align:center;
    padding : 10px;
}