.color {
    background-color : #5B5056;
    color : white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    letter-spacing: 0.5px;
}
.colorend {
    background-color: black;
    letter-spacing:1px;
    color : white;
    padding : 5px;
    font-family: initial;
}
.line {
    border : 3px solid #0DBDE0;
}