<div class="main">
    <div class="content">
        <div class="line"></div>
        <h1 class="text-uppercase shadow">Create.Discover.Explore</h1>
        <div class="line"></div>
    </div>
    <!-- <img src="assets/images/ss3.jpe" alt="event1"> -->
</div>
<hr style="opacity:0;">
<div class="row">
    <h3 class="category">Events On EventSity</h3>
    <div class="col-sm-4 ent fullimg box">ENTERTAINMENT</div>
    <div class="col-sm-4">
        <div class="soc halfimg box">SOCIAL</div>
        <hr style="opacity:0;">
        <div class="sports halfimg box">SPORTS</div>
    </div>
    <div class="col-sm-4 tech fullimg box">TECHNOLOGY</div>
</div>
<hr style="opacity:0;">
<div class="row">
    <h3 class="category">How EventSity Works</h3>
    <div class="col-sm-4">
        <img src="assets/images/seteventpage.png" alt="setevent">
        <p class="desc">CREATE EVENT</p>
    </div>
    <div class="col-sm-4">
        <img src="assets/images/sellticket.png" alt="sellticket">
        <p class="desc">SEND ENQUIRY</p>
    </div>
    <div class="col-sm-4">
        <img src="assets/images/manageregistration.png" alt="manageregistration">
        <p class="desc">BECOME AN ORGANISER</p>
    </div>
</div>