.img {
    margin-top : 10px;
    /* border : 5px solid yellow; */
    /* border-radius : 10px; */
    width:600px;
    height:400px;
}
.img:hover {
    transform:scale(1.01);
    /* border : 5px solid red; */
    box-shadow : 10px 5px 25px black;
}
h1 {
    font-family: 'Acme', sans-serif;
    color: #F84B10;
}
.font {
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
}
.box {
    background-color : #EAE0E5;
    text-align : center;
    height : 5em;
    width : 20em;
    margin-left : 80px;
    margin-top : 20px;
    border : 1px solid black;
    border-radius : 5px;
}
.follow {
    margin-top : 5px;
    background-color : transparent;
    border-radius: 10px;
    color:#FA0580;
    border : 2px solid #FA0580;
}
.head {
    font-family: 'Poppins', sans-serif;
    color: #B24DDE;
    text-align: center;
    padding-bottom : 10px;
}