.box {
    background: url(../../assets/images/ticketminimilistic.jpg);
    background-size : cover;
    border : 0px;
    font-family: 'Ubuntu', sans-serif;
}
.robo {
    height : 25rem; 
    margin-left : 20rem;
}
.boxparent {
    font-family: 'PT Sans', sans-serif;
    padding : 5px 15px;
    width : 95%;
    background-color: #FFB0EC;
    box-shadow : 2px 2px 18px 5px rgba(0,0,0,0.1);
    text-align : center;
}
.boxparent2 {
    font-family: 'PT Sans', sans-serif;
    padding : 5px 15px;
    width : 95%;
    background-color: #FFFB85;
    box-shadow : 2px 2px 18px 5px rgba(0,0,0,0.1);
    text-align : center;
}
/* .box:hover {
    border : 1px solid black;
    box-shadow : 5px 5px 15px black;
    transition : all 0.3s ease-in-out;
} */
.box1 {
    height:14rem;
    width:50rem;
    border:0;
}
.box1:hover {
    background-color : #FEE700;
    transition:all 0.7s ease-in-out;
}
.col-xs-12 {
    padding : 0px 0px;
}
.font h2 {
    font-family: 'Righteous', cursive;
    /* font-family: 'Ubuntu', sans-serif; */
    color:#BB0DE0;
    font-size : 45px;
}
.font {
    margin-top : 50px;
}
.font p {
    font-family: 'Ubuntu', sans-serif;
    color : #0DBDE0;
    font-size : 25px;
}
.delete {
    margin-top:10px;
    margin-bottom: 60px;
    border:2px solid red;
    background-color:transparent;
    padding : 5px 10px;
    color:red;
    border-radius:5px;
    margin-right : 5px;
}
.delete:hover {
    background-color: red;
    color:white;
    transition: all 0.5s ease-in-out;
}
.edit {
    margin-top:10px;
    margin-bottom: 60px;
    border:2px solid blue;
    background-color:transparent;
    padding : 5px 10px;
    color:blue;
    border-radius:5px;
    margin-right : 5px;
}
.edit:hover {
    background-color: blue;
    color:white;
    transition: all 0.5s ease-in-out;
}