<div class="row">
    <div class="col-xs-12">
        <h1>Events By Category</h1>
    </div>
</div>
<hr style="opacity: 0;">
<div class="row">
    <div class="col-xs-12">
        <div class="col-md-3">
            <button (click)="needentertainment()" class="entcat">Entertainment</button>
        </div>
        <div class="col-md-3">
            <button (click)="needsocial()" class="soccat">Social</button>
        </div>
        <div class="col-md-3">
            <button (click)="needtechnology()" class="techcat">Technology</button>
        </div>
        <div class="col-md-3">
            <button (click)="needsports()" class="sportscat">Sports</button>
        </div> 
    </div>
</div>
<hr>
<div *ngIf='ent'>
<div class="row">
    <div class="col-xs-12">
        <div
        *ngFor="let discover of discover; index as id"
        >
        <div *ngIf="discover.category === 'Entertainment'">
            <a 
                style="cursor : pointer;"
                [routerLink]="['/discover',id]"   
                routerLinkActive="active"
                class="list-group-item clearfix box" style="margin-bottom:20px;">
                    <div class="pull-left box1">
                        <h4 class="list-group-item-heading" style="color:white;">{{ discover.ename }}</h4>
                        <p class="list-group-item-text" style="color:white;">Venue : {{ discover.evenue }}</p>
                    </div>
                    <span class="pull-right">
                        <img 
                        [src] = "discover.imagePath" 
                        alt="{{ discover.ename }}" 
                        class="img-responsive" 
                        style="max-height:50px;">
                    </span>
            </a>
        </div>
    </div>
</div>
</div>
</div>
<div *ngIf='soc'>
    <div class="row">
        <div class="col-xs-12">
            <div
            *ngFor="let discover of discover; index as id"
            >
            <div *ngIf="discover.category === 'Social'">
                <a 
                style="cursor : pointer;"
                [routerLink]="['/discover',id]"   
                routerLinkActive="active"
                class="list-group-item clearfix box" style="margin-bottom:20px;">
                    <div class="pull-left box1">
                        <h4 class="list-group-item-heading" style="color:white;">{{ discover.ename }}</h4>
                        <p class="list-group-item-text" style="color:white;">Venue : {{ discover.evenue }}</p>
                    </div>
                    <span class="pull-right">
                        <img 
                        [src] = "discover.imagePath" 
                        alt="{{ discover.ename }}" 
                        class="img-responsive" 
                        style="max-height:50px;">
                    </span>
                </a>
            </div>
            </div>
        </div>
    </div>
</div>
<div *ngIf='spo'>
    <div class="row">
        <div class="col-xs-12">
            <div
            *ngFor="let discover of discover; index as id"
            >
                <div *ngIf="discover.category === 'Sports'">
                    <a 
                    style="cursor : pointer;"
                    [routerLink]="['/discover',id]"   
                    routerLinkActive="active"
                    class="list-group-item clearfix box" style="margin-bottom:20px;">
                        <div class="pull-left box1">
                            <h4 class="list-group-item-heading" style="color:white;">{{ discover.ename }}</h4>
                            <p class="list-group-item-text" style="color:white;">Venue : {{ discover.evenue }}</p>
                    </div>
                    <span class="pull-right">
                        <img 
                        [src] = "discover.imagePath" 
                        alt="{{ discover.ename }}" 
                        class="img-responsive" 
                        style="max-height:50px;">
                    </span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<div *ngIf='tech'>
    <div class="row">
        <div class="col-xs-12">
            <div
            *ngFor="let discover of discover; index as id"
            >
            <div *ngIf="discover.category === 'Technology'">
                <a 
                    style="cursor : pointer;"
                    [routerLink]="['/discover',id]"   
                    routerLinkActive="active"
                    class="list-group-item clearfix box" style="margin-bottom:20px;">
                <div class="pull-left box1">
                    <h4 class="list-group-item-heading" style="color:white;">{{ discover.ename }}</h4>
                    <p class="list-group-item-text" style="color:white;">Venue : {{ discover.evenue }}</p>
                </div>
                <span class="pull-right">
                    <img 
                    [src] = "discover.imagePath" 
                    alt="{{ discover.ename }}" 
                    class="img-responsive" 
                    style="max-height:50px;">
                </span>
                </a>
            </div>
        </div>
    </div>
</div>
</div>        










<!-- <div class="row">
        <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
            <app-discover-list></app-discover-list>
        </div>
</div>
<div class="row">
    <div class="col-md-12">
        <router-outlet></router-outlet>
     </div>
</div> -->