<nav class="navbar navbar-default head">
    <div class="container-fluid">
        <div class="navbar-header">
            <a routerLink="/" class="navbar-brand fstyle" style="color:white">EventSity</a>
        </div>
        <div class="navbar-default">
            <ul class="nav navbar-nav">
                <li routerLinkActive="active" class="hcolor"><a routerLink='/discover' style="color:white">Discover</a></li>
                <li routerLinkActive="active" class="hcolor"><a routerLink='/create' style="color:white;">Create</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right content">
                <li><button class="user"><a routerLink='/login'>LogIn</a></button></li>
                <li><button class="user"><a routerLink='/signup'>SignUp</a></button></li>
                <li><button class="user">LogOut</button></li>
            </ul>
        </div>
    </div>
</nav>