.main img{
    /* background-image:url('assets/images/ss1.jpe'); */
    height:85vh;
    width:100%;
    /* animation: bkimg 10s infinite alternate; */
    /* opacity : 0.8; */
}
/* @keyframes bkimg {
    from{background-image:'assets/images/ss1.jpg';}
    to{background-image:'assets/images/ss2.jpg';}
} */
.content {
    margin-top : 13em;
    margin-left : 20em;
    position : absolute;
    color : white;
}
.line {
    border : 7px solid white;
    box-shadow: 10px 10px 5px black;
}
.shadow {
    text-shadow: 10px 10px 5px black;
}